apiVersion: apps/v1
kind: Deployment
metadata:
  name : tracking-order-deployment
  labels:
    first: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: tracking-order-container
          image: manikanta1432/tracking-order-project
          ports:
            - containerPort: 3000

---
apiVersion: v1
kind: Service
metadata:
  name: tracking-order-service
spec:
  selector:
    app: web
    ports:
      - protocol: TCP
        port: 83
        targetPort: 3000
        NodePort: 30083

