apiVersion: apps/v1
kind: Deployment
metadata:
  name : tracking-order-deployment
  labels:
    first: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: tracking-order-container
          image: manikanta1432/tracking-order-project:v1.1.2
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000" 
              
