apiVersion: apps/v1
kind: replica-set
metadata:
  name : tracking-order-replicaset
  labels:
    first: app
  spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
  spec:
    containers:
    - name: tracking-order-container
      image: manikanta1432/tracking-order-project
      ports:
      - containerPort: 3000

---
apiVersion: v1
kind: service
metadata:
  name: tracking-order-service
spec:
  selector:
    app: web
    ports:
      - protocol: TCP
        port: 83
        targetPort: 3000
    type: NodePort
