apiVersion: apps/v1
kind: Deployment
metadata:
  name: tracking-order-deployment
  labels:
    first: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: tracking-order-container
          image: manikanta1432/tracking-order-project:v1.1.5
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: MONGODB_URI
              value: "mongodb://mongodb-service:27017/parceltracker"
          

---
apiVersion: v1
kind: Service
metadata:
  name: tracking-order-service
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 83
      targetPort: 3000
      nodePort: 30083

            
